# Server
HOST=
PORT=

# App (NEXT_PUBLIC_* are exposed to the browser)
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_API_URL=

# Secrets (server-side only)
SECRET_KEY=
SESSION_SECRET=

# Auth0 data
AUTH0_AUDIENCE=
AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_SECRET=
